body{
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-size: cover;
}
 
h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}
 
.tulisan_login{
	text-align: center;
	text-transform: uppercase;
}
 
.kotak_login{
	width: 23%;
	height: 300px;
	background: red;
	margin: 300px auto;
	padding: 30px 20px;
}
 
label{
	font-size: 11pt;
}
 
.form_user{
	box-sizing : border-box;
	width: 20%;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 9px;
	border: none;
}
.form_pass{
	box-sizing : border-box;
	width: 20%;
	padding: 15px;
	font-size: 11pt;
	margin-bottom: 20px;
	border: none;
}
 
.tombol_login{
	background: #528cf8;
	color: white;
	font-size: 11pt;
	padding: 15px;
	font-weight: 700;
	width: 20%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	font-size: 15px;
}

.tombol_login :hover {
	background-color: white ;
}
 
.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}